    <div class="row" style="margin-right: 15px;">
      <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="article-bandeau hidden-xs" >
        <%= image_tag "manu2.jpg", width: "100%" %>
      </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-8 article-scroll padded">
        <div class="titre-gallery text-center">
          <h2>BLOG</h2>
        </div>
         <% @articles.each do |article| %>
       <div class="margin-panel padded article-cadre">
          <div class="panel panel-article">
                <div class=" titre-article">
                  <!-- <div class="media" style="padding-bottom: 5px;">
                    <div class="description"><p><%= article.title.capitalize %></p></div>
                      <div class="media-body">
                        <p class="posted">Le <%= artice_date = I18n.l(article.created_at, format: :short) %></p>
                    </div>
                </div> -->

                </div>
                  <div class="article">
                    <div class="media" style="padding-bottom: 5px;">
                    <div class="description"><p><%= article.title.capitalize %></p></div>
                      <div class="media-body">
                        <p class="posted">Le <%= artice_date = I18n.l(article.created_at, format: :short) %></p>
                    </div>
                </div>
                    <div class="description"><p><%= article.description.capitalize %></p></div>
                    <% if article.photo != nil %>
                    <%= link_to article_path(article) do%>
                  <% if article.illustration_1.blank? && article.illustration_2.blank? && article.illustration_3.blank? && article.illustration_4.blank? %>

                      <p><%= cl_image_tag article.photo, class: "picture_article", width: "100%" %></p>
                  <% else %>

                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 vignette-blog-index" style="padding-right: 0;">
                          <%= cl_image_tag article.photo, class: "picture_article", width: "100%" %>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 vignette-blog-index" style="padding-left: 0">
                          <% unless article.illustration_1.blank? %>
                           <%= cl_image_tag article.illustration_1, class: "picture_article", width: "100%" %>
                         <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 vignette-blog-index" style="padding-right: 0;">
                          <% unless article.illustration_2.blank? %>
                          <%= cl_image_tag article.illustration_2, class: "picture_article", width: "100%" %>
                          <% end %>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 vignette-blog-index" style="padding-left: 0;">
                          <% unless article.illustration_3.blank? %>
                          <%= cl_image_tag article.illustration_3, class: "picture_article", width: "100%" %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                    <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
            <% end %>
      </div>

    </div>









