<%if current_page?(root_path)%>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <%else%>
  <nav class="navbar navbar-fixed-top nav--sticky2" role="navigation">
    <%end%>
  <div class="container">
    <div class="navbar-header">
       <%= link_to "Emmanuel Pertuisot", "/", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo navbar-right" id="menu">
        <li>
          <%= link_to "A propos de l'artiste","/index.html", anchor: "about"%>
        </li>
        <li>
          <%= link_to "Gallerie", galleries_path%>
        </li>
        <li>
          <%= link_to "Blog","/index.html", anchor: "price"%>
        </li>
        <li>
          <%= link_to "Contact", "/index.html", anchor: "contact"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
