
<div class="well col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 padded" style="margin-top: 100px;">
  <p class="text-center">ENTRER UNE NOUVELLE PEINTURE</p>
<%= simple_form_for(@gallery) do |f| %>
  <%= f.input :title %>
  <%= f.text_area :description %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
</div>
